body{
    text-align: center;
}
.upfile-advanced {
    position: relative;
    width: 300px;
    height: 300px;
    background-color: #f4f7fc;
    border: 0px #f4f7fc solid;
    border-radius: 5%;
    top: 10%;
    margin: 0 auto;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: 1;
}
.upfile-advanced label {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #f4f7fc;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    color: #999;
    z-index: 1;
    font-size: 24px;
    border: 0px #f4f7fc solid;
    border-radius: 5%;
    box-shadow: #dadada 0px 0px 15px;
}
.upfile-advanced input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
.upfile-advanced label::before {
    content: "请选择照片";
    position: absolute;
    top: 45%;
    left: 0px;
    width: 100%;
    margin-top: -0.5em;
    text-align: center;
    font: 36px/1 Arial, 微软雅黑;
}
.upfile-advanced #add {
    position: absolute;
    top: 55%;
    left: 35%;
    width: 30%;
    height: 30%;
    cursor: pointer;
    opacity: 0.2;
}
#upimage {
    width: 300px;
    height: 300px;
    border: 0px #f4f7fc solid;
    border-radius: 5%;
    position: absolute;
}
#updateimage {
    border: 0px #f4f7fc solid;
    border-radius: 5%;
    max-width:100%;
    max-height:100%;
    z-index:2;
}
.xx {
    position: relative;
    margin: 30% auto auto auto;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 0.2s;
    -webkit-animation-iteration-count: 1;
}
.ren {
    margin: 10px;
    display:inline-block;
}
.sex {
    margin: 10px;
    display: inline-block;
}
.button {
    width: 200px;
    margin: 0 auto;
}